.form{
    width: 30%;
    height: 60%;
    background-color: white;
   
    border-radius: 16px;
}
.centre{
    background-image: url("/styledregform/bgcentre.png");
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 70%;
    box-shadow: 0 0 15px rgba(55, 55, 55, 0.1);;
    padding: 20px;
    border-radius: 16px;
}


    
input[type=text], input[type=email], select {
    width: 60%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border-radius: 4px;
    border: 1px solid darkgrey;
    
}

input[type=file]{
    width: 55%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border-radius: 4px;
    border: 1px dashed darkgrey;

}
input[type=date]{
    width: 30%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border-radius: 4px;
    border: 1px solid darkgrey;

}

input[type=password] {
    width: 55%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border-radius: 4px;
    border: 1px solid darkgrey;
}

input[type=checkbox]{
    padding: 10px;
    margin: 5px 0 22px 0;
}

form{
    font-size: medium;
    color: rgb(30, 28, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}


h3{
    color: rgb(19, 30, 37);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px 0 20px 0;
    padding-bottom: 8px;
   
}

h2{
    color: white;
    text-align: center;
    margin-top: 16px;
    padding-top: 4%;
}

button{
    padding: 12px;
    margin-top: 16px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: rgb(2, 47, 170);
    border-radius: 1rem;
    border-style: none;
    text-align: center ;
}

button:hover{
    background: lightblue;
    color: darkblue;
    font-weight: 600;
    
}



body{
    background-image: url("/styledregform/modern-background-with-lines.jpg");
    background-size: 100%;
}
